<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<style>
    table {
        width: 100%;
        height: 200px;
        border: 2px solid black;
        border-collapse: collapse;
        margin-left: 10px;
    }

    th {
        background-color: #f2f2f2;
        padding: 10px;
        border: 1px solid black;
        font-size: 15pt;
        text-align: center;
    }

    td {
        padding: 8px;
        border: 1px solid black;
        font-size: 15pt;
        text-align: center;
    }
    .id-column {
        width: 3%;
    }

    .address-column {
        width: 17%;
    }
    .name-column {
        width: 10%;
    }
    .yprice-column {
        width: 5%;
    }
    .dprice-column {
        width: 5%;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    a:hover {
        color: #777;
    }
    .wide-cell {
        width: 5%;
    }



</style>

<head>
    <meta charset="utf-8">
    <title>Blog Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.ico">

    <!--Google Fonts link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">


    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/fonticons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootsnav.css">


    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

    <!--Theme custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/css/responsive.css" />

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

<div class="culmn">
    <!--Home page style-->


    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav text-uppercase">


        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="home.html">



                </a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="/">home</a></li>
                    <li><a href="/apts">매물 목록</a></li>
                    <li><a href="/apts/new">매물 추가</a></li>
                    <li><a href="/apts/search">매물 검색</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <!--Home Sections-->
    <section id="hello" class="home bg-mega">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home text-center">
                    <div class="home_text">
                        <h4 class="text-white text-uppercase">박찬승, 주민철, 홍수환</h4>
                        <h1 class="text-white text-uppercase">다봄</h1>

                        <div class="separator"></div>

                        <h5 class=" text-uppercase text-white"><em>아파트 시세 정보 검색 시스템</em></h5>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section>
    <section id="feature" class="feature p-top-100">
        <div class="container">
            <div class="row">
                <div class="main_feature">

                    <div class="col-md-6 m-top-120">
                        <!-- Head Title -->
                        <div class="head_title">
                            <h1 style="margin-left: auto; margin-right: auto; text-align: center;">아파트 검색 관리 시스템</h1>
                            </br>
                            <div class="separator_left"></div>
                        </div><!-- End off Head Title -->

                        <table>
                            <thead>
                            <tr>
                                <th colspan="8" style="text-align: center">아파트 목록</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="id-column" style="text-align: center">ID</th>
                                <th class="name-column" style="text-align: center">아파트명</th>
                                <th class="address-column" style="text-align: center">주소</th>
                                <th class="yprice-column" style="font-size:17px; text-align: center;">전세 가격<br/><a style="font-size: 5px;">(만원)</a></th>
                                <th class="dprice-column" style="font-size:17px; text-align: center;">매매 가격<br/><a style="font-size: 5px;">(만원)</a></th>
                            </tr>
                            <tr th:each="apt : ${apts}">
                                <td th:text="${apt.id}"></td>
                                <td th:text="${apt.name}"></td>
                                <td th:text="${apt.address}"></td>
                                <td th:text="${apt.yprice}"></td>
                                <td th:text="${apt.dprice}"></td>

                                <td class="wide-cell"><a th:href="@{/apts/{id}/update(id = ${apt.id})}">수정</a></td>
                                <td class="wide-cell"><a th:href="@{/apts/{id}/delete(id = ${apt.id})}">삭제</a></td>
                            </tr>
                            </tbody>
                        </table>
                        </br>
                        </br>
                        </br>
                        </br>



                    </div>
                    <div class="col-md-6">
                        <div class="feature_photo wow fadeIn sm-m-top-40">
                            <div class="photo_border"></div>
                            <div class="feature_img">
                                <img src="/images/feature-img_logo.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        <br />
        <br />
        <br />
        <br />
        <hr />
        <br />
        <br />
    </section>



    <!-- scroll up-->
    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div><!-- End off scroll up -->


    <footer id="footer" class="footer bg-mega">
        <div class="container">
            <div class="row">
                <div class="main_footer p-top-40 p-bottom-30">
                    <div class="col-md-6 text-left sm-text-center">
                        <p class="wow fadeInRight" data-wow-duration="1s">
                            Made with
                            <i class="fa fa-heart"></i>
                            by
                            <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a>
                            2016. All Rights Reserved
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </footer>




</div>

<!-- JS includes -->

<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/isotope.min.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.collapse.js"></script>
<script src="/js/bootsnav.js"></script>
<script src="/js/masonry.min.js"></script>

<script type="text/javascript">
        var msnry = new Masonry('.blog_area');
</script>

<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body>

</html>